@import "../../../../assets/sass/layout/layout";

.body {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 4px;
  border-bottom: 1px solid $neutrals900;
  border-right: 1px solid $neutrals900;
  border-left: 4px solid $neutrals900;
  border-top: 1px solid $neutrals900;
  padding: 5px 5px 5px 10px;
  max-width: 300px;
  &__title {
    display: flex;
    align-items: center;
    & h2 {
      font-size: 1.2rem;
      margin: 0;
    }
    & span {
      margin: 0 5px;
    }
    & p {
      margin: 0 !important;
    }
  }
  & span {
    font-size: 0.6rem;
  }
  & p {
    font-size: 1rem;
    margin: 10px 0;
  }
}
