<main>
  <section class="welcomePage">
    <div>
      <h1>Welcome</h1>
      <h2>to Eyder's Portfolio</h2>
    </div>
    <div class="welcomePage__img">
      <img src="../../../assets/img/duck.jpg" alt="Duck"
           class="welcomePage__img--duck">
      <img src="../../../assets/img/jojo_effect.png"
           alt="Jojo Effect" class="welcomePage__img--jojo">
    </div>
<!--    <iframe width="800" height="400" src="https://www.youtube.com/embed/Z_K2_x1VzBM?start=88&autoplay=1&mute=1"-->
<!--            title="YouTube video player" frameborder="0"-->
<!--            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--            allowfullscreen>-->
<!--    </iframe>-->
  </section>

  <section>
    Adicionar história
  </section>

  <section>
    Adicionar Habilidades
  </section>

  <section>
    Adicionar Projetos
  </section>


</main>

