.welcomePage {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &--jojo {
      position: absolute;
    }
  }
}
