@import "../../../assets/sass/layout/layout";

main {
  min-height: calc(100vh - 70px);
}

.welcomePage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../../../assets/img/background_init.jpg");
  min-height: 50vh;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  @include media(phone, tablet) {
    flex-direction: column;
  }
  &__texto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: $neutrals100;
    width: 100%;
    @include media(phone, tablet) {
      position: absolute;
      z-index: 1001;
    }
    & h1, h2 {
      margin: 0;
    }
    & h1 {
      font-size: 3rem;
    }
    & h2 {
      font-size: 1.5rem;
    }
  }
}
