<main>
  <section class="welcomePage">
    <article class="welcomePage__texto">
      <aside>
        <h1>Hello world</h1>
        <h2>I'm Eyder Tinoco</h2>
        <h3>Web Developer</h3>
      </aside>

      <app-rede-social></app-rede-social>
    </article>
  </section>

  <section class="section sobreMim">
    <h4>Sobre mim</h4>
    <article class="sobreMim__article">
      <div class="sobreMim__article__background"></div>

      <aside class="sobreMim__article__aside">
        <p>{{ sobremin_texto1 }}</p>

        <br/>

        <p>{{ sobremin_texto2 }}</p>
      </aside>
    </article>
  </section>

  <section class="section experience">
    <h4>Experiência</h4>
    <article class="experience__article">
      <aside class="experience__article__aside">
        <p>Prefeitura</p>
        <app-experiencia [myExperience]="myExperienceMaceio"></app-experiencia>
      </aside>

      <aside class="experience__article__aside">
        <p>Instituto Federal de Alagoas</p>
        <app-experiencia [myExperience]="myExperienceIfal"></app-experiencia>
      </aside>
    </article>
  </section>

  <section class="section contato">
    <h4>Contato</h4>
    <form class="contato__form" action="https://api.staticforms.xyz/submit" method="post">
      <div class="contato__form__column">
        <label>Nome</label>
        <input name="name" type="text" required/>
      </div>

      <div class="contato__form__column">
        <label>Email</label>
        <input name="email" type="email" required/>
      </div>

      <div class="contato__form__column">
        <label>Texto</label>
        <textarea name="message" required></textarea>
      </div>

      <button type="submit">Enviar</button>

      <input type="hidden" name="accessKey" value="3e3cd3a3-e0b1-4a5b-b6b7-9d134207d8e9">
      <input type="hidden" name="redirectTo" value="https://eyder.com.br">
    </form>
  </section>
</main>
