<main>
  <section class="welcomePage">
    <article class="welcomePage__texto">
      <aside>
        <h1>Hello world</h1>
        <h2>I'm Eyder Tinoco</h2>
        <h3>Web Developer</h3>
      </aside>

      <app-rede-social></app-rede-social>
    </article>
  </section>

  <section>
    <section>
      <h4>Últimas Postagens</h4>
    </section>

    <section class="section sobreMim">
      <h4>Sobre mim</h4>
      <article class="sobreMim__article">
        <div class="sobreMim__article__background"></div>

        <aside class="sobreMim__article__aside">
          <p>{{ sobremin_texto1 }}</p>

          <br/>

          <p>{{ sobremin_texto2 }}</p>
        </aside>
      </article>
    </section>
  </section>
</main>
