@import "../../../assets/sass/layout/layout";

main {
  min-height: calc(100vh - 70px);
}

.welcomePage {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include media(phone, tablet) {
    flex-direction: column;
  }
  &__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    @include media(phone, tablet) {
      position: absolute;
      z-index: 1001;
    }
    & h1, h2 {
      margin: 0;
      font-family: 'Inter', sans-serif;
    }
    & h1 {
      font-size: 3rem;
    }
    & h2 {
      font-size: 1.5rem;
    }
  }
  &__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    @include media(phone, tablet) {
      width: 100%;
    }
    &--duck {
      background-image: url("../../../assets/img/duck.jpg");
      height: calc(100vh - 60px);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include media(laptop, desktop, big-screen) {
        width: 50vw;
      }
      @include media(phone, tablet) {
        width: 100vw;
      }
    }
    &--jojo {
      background-image: url("../../../assets/img/jojo_effect.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      height: 140px;
      width: 270px;
      top: 50px;
    }
  }
}
