.p {
  &-menubar {
    border: none;
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    padding: 8px 0;
    background: white;
    @include for-tablet-only() {
      width: 50px;
      height: 56px;
    }
    @include for-phone-only() {
      width: 50px;
      height: 56px;
    }
    &-button {
      width: 48px;
      & .p-icon-wrapper {
        transform: scale(1.6);
      }
    }
    & .p-menuitem {
      border-right: 1px solid $primary400;
      &:last-child {
        border-right: 0;
      }
      &-content {
        &:hover {
          background: none;
          & .p-menuitem-icon, .p-menuitem-text, .p-icon-wrapper {
            color: $primary500;
          }
        }
      }
      &-icon {

      }
      &-text {

      }
    }
    & .p-icon-wrapper {
      @include for-desktop-only() {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
    &-root-list {
      @include for-tablet-only() {
        width: 250px;
      }
      @include for-phone-only() {
        width: 250px;
      }
    }
  }

  &-dialog {
      @include for-phone-only() {
          width: 100%;
      }
      @include for-tablet-only() {
          height: auto;
          max-height: 600px !important;
          width: 80%;
      };
      @include for-desktop-only() {
          height: auto;
          max-height: 1000px !important;
          width: 60%;
      }
      &-header {
          background: $primary500 !important;
          border-bottom: 4px solid $primary800 !important;
          color: $neutrals100 !important;
          padding: 1rem !important;
          &-icon {
              background: $neutrals100 !important;
              & .pi-times {
                  color: $primary500 !important;
                  font-size: 1.2rem;
                  font-weight: 900;
              }
          }
      }
      &-content {
          padding: 1rem !important;
      }
      &-footer {
          padding: 1rem 1rem 3rem !important;
          border-bottom-right-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
      }

      & .dlgPanelButton {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          & p-button {
              background: transparent !important;
              border: 0 !important;
              padding: 0 !important;
              width: 48% !important;
          }
          & button {
              margin: 0 !important;
              width: 100% !important;
          }
      }
  }

  &-radiobutton {
      &-icon {
          background: #3B82F6 !important;
      }
  }

  &-treeselect {
      width: 100%;
      &-label {
          &-container {
              display: flex;
              justify-content: flex-start;
          }
      }
      &-items {
          &-wrapper {
              & .p-tree-component {
                  width: 100%;
                  display: flex;
                  padding: 1rem 0.6rem;
              }
          }
      }
  }

  &-inputwrapper {
      width: 100%;
  }

  &-dropdown {
      width: 100%;
      &-panel {
          border: 1px solid #3B82F6;
      }
  }

  &-fieldset {
      &-legend {
          width: 100% !important;
      }
      &-content {
          padding: 0px !important;
      }
  }

  &-datatable {
      &-tbody {
          & tr {
              border-bottom: 1px solid #e8eaed;
              & td {
                  flex-direction: column;
                  align-items: flex-start !important;
                  padding: 0.5rem !important;
              }
          }

      }
  }

  &-column-title {
      margin-bottom: 7px;
      font-weight: 700;
  }

  //&-treetable {
  //  & .p-treetable-tbody > tr > td {
  //    border: 4px solid #ffa500;
  //    border-width: 2px 4px;
  //  }
  //}
}


