<main>
  <section class="styleSection">
    <section class="shadowSection">
      <h1>Site em desenvolvimento</h1>
      <h2>Esse site foi feito por mim</h2>
    </section>
  </section>

  <section>
    <p>Coisas a construir...</p>
    <p>Sistema de troca de idiomas no header usando bandeiras Estados Unidos e Brasil</p>
    <p>Adicionar modo escuro/claro</p>
    <p>Adicionar acessibilidade do texto e mãos</p>
    <p>Adicionar imagens que deixe a página bonita</p>
    <p>Atingir score 100 no google lighthouse</p>
  </section>

  <section class="styleSection">
    <section class="section sobreMim">
      <h3>About me</h3>

      <aside class="sobreMim__article__aside">
        <p>{{ aboutMe }}</p>
      </aside>
    </section>

    <section class="section timeline">
      <h3>Work's Timeline</h3>
      <div class="timeline__body" [style.background-image]="'url(' + backgroundImageUrl + ')'">
        <div class="timeline__body--shadow">
          <aside class="timeline__body__aside">
            <timeline-component (choseTheme)="choseTheme = $event"/>
          </aside>
          <article class="timeline__article">
            <app-experiencia *ngIf="choseTheme"
                             [myExperience]="getExperienceForTheme(choseTheme)"
                             class="experience__article__aside--app"/>
          </article>
        </div>
      </div>
    </section>

    <section class="section skill">
      <h3>Tecnologia & Habilidades</h3>
      <article class="skill__article">

        <skill-tecnology *ngFor="let tecnology of listTecnologys"
                         [tecnologyName]="tecnology.tecnologyName"
                         [mySkillLevel]="tecnology.mySkillLevel"
                         [tecnologyImg]="tecnology.tecnologyImg">
        </skill-tecnology>

      </article>
    </section>

    <section class="section experience">
      <h3>Social Action</h3>
      <article class="experience__article">
        <p>Nucleo De Educacao Ambiental Francisco De Assis</p>
        <p>Associação dos Pais e Amigos de Leucêmicos de Alagoas -APALA</p>
        <p>ONG Pata Amada</p>
        <p>Mesário 2020</p>
      </article>
    </section>
  </section>
</main>

