<main>
  <section class="styleSection">
    <section class="shadowSection">
      <h1>Web Developer</h1>
      <h2>Esse site foi feito por mim</h2>
    </section>
  </section>

  <section class="styleSection">
    <section class="section sobreMim">
      <h1>About me</h1>
      <article class="sobreMim__article">
        <div class="sobreMim__article__background"></div>

        <aside class="sobreMim__article__aside">
          <p>{{ sobremin_texto1 }}</p>

          <br/>

          <p>{{ sobremin_texto2 }}</p>
        </aside>
      </article>
    </section>

    <section class="section experience">
      <h1>Experiência</h1>
      <article class="experience__article">

        <aside class="experience__article__aside">
          <app-experiencia [myExperience]="myExperienceMaceio"></app-experiencia>
        </aside>

        <aside class="experience__article__aside">
          <app-experiencia [myExperience]="myExperienceIfal"></app-experiencia>
        </aside>
      </article>
    </section>

    <section class="section experience">
      <h1>Tecnologia</h1>
      <article class="experience__article">
        <p>HTML</p>
        <p>CSS</p>
        <p>Angular</p>
      </article>
    </section>

    <section class="section experience">
      <h1>Social Action</h1>
      <article class="experience__article">
        <p>Nucleo De Educacao Ambiental Francisco De Assis</p>
        <p>Associação dos Pais e Amigos de Leucêmicos de Alagoas -APALA</p>
        <p>ONG Pata Amada</p>
        <p>Mesário 2020</p>
      </article>
    </section>
  </section>
</main>

