<main>
  <section class="styleSection">
    <section class="shadowSection">
      <h1>Site em desenvolvimento</h1>
      <h2>Esse site foi feito por mim</h2>
    </section>
  </section>

  <section>
    <p>Coisas a construir...</p>
    <p>Sistema de troca de idiomas no header usando bandeiras Estados Unidos e Brasil</p>
    <p>Adicionar modo escuro/claro</p>
    <p>Adicionar acessibilidade do texto e mãos</p>
    <p>Adicionar imagens que deixe a página bonita</p>
    <p>Atingir score 100 no google lighthouse</p>
  </section>

  <section class="styleSection">
    <section class="section sobreMim">
      <h1>About me</h1>

      <aside class="sobreMim__article__aside">
        <p>{{ aboutMe }}</p>
      </aside>
    </section>

    <section class="section timeline">
      <h1>Work's Timeline</h1>
      <div class="timeline__body">
        <aside class="timeline__body__aside">
          <div class='education'>
            <div class='education__content' (click)="escolherTema(Timeline.LIFEBEGINNER)">
              <h5>Onde tudo começou!</h5>
              <span class='year'>0</span>
            </div>
            <div class='education__content' (click)="escolherTema(Timeline.ENG_CIVIL)">
              <h5>Engenharia civil</h5>
              <span class="year">1</span>
            </div>
            <div class='education__content' (click)="escolherTema(Timeline.ENG_SEG_TRAB)">
              <h5>Engenharia de Segurança do Trabalho</h5>
              <span class='year'>2</span>
            </div>
            <div class='education__content' (click)="escolherTema(Timeline.SISTEMA_INFORMACAO)">
              <h5>Sistemas de Informação</h5>
              <span class='year'>3</span>
            </div>
            <div class='education__content' (click)="escolherTema(Timeline.PROJECT_ALEX)">
              <h5>Projeto Alex</h5>
              <span class='year'>4</span>
            </div>
            <div class='education__content' (click)="escolherTema(Timeline.ESTAGIO)">
              <h5>Estágio Prefeitura de Maceió</h5>
              <span class='year'>5</span>
            </div>
            <div class='education__content' (click)="escolherTema(Timeline.INDRA)">
              <h5>Indra Company</h5>
              <span class='year'>6</span>
            </div>
            <div class='education__content' (click)="escolherTema(Timeline.SISTEMATECH)">
              <h5>Sistematech</h5>
              <span class='year'>7</span>
            </div>
          </div>
        </aside>
        <article class="experience__article">
          <app-experiencia [myExperience]="myExperienceMaceio" class="experience__article__aside--app"></app-experiencia>
        </article>
      </div>
    </section>

    <section class="section skill">
      <h1>Tecnologia & Habilidades</h1>
      <article class="skill__article">

        <skill-tecnology *ngFor="let tecnology of listTecnologys"
                         [tecnologyName]="tecnology.tecnologyName"
                         [mySkillLevel]="tecnology.mySkillLevel"
                         [tecnologyImg]="tecnology.tecnologyImg">
        </skill-tecnology>

      </article>
    </section>

    <section class="section experience">
      <h1>Social Action</h1>
      <article class="experience__article">
        <p>Nucleo De Educacao Ambiental Francisco De Assis</p>
        <p>Associação dos Pais e Amigos de Leucêmicos de Alagoas -APALA</p>
        <p>ONG Pata Amada</p>
        <p>Mesário 2020</p>
      </article>
    </section>
  </section>
</main>

