@import "../../../assets/sass/layout/layout";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: $neutrals900;
  padding: 0 20px;
  height: 60px;
  box-shadow: 0 10px 20px $neutrals900;
  & .topHeader {
    display: flex;
    align-items: center;
    @include media(laptop, desktop, big-screen) {
      justify-content: space-between;
    }
    @include media(phone, tablet) {
      justify-content: center;
    }
    &__logo {
      text-transform: uppercase;
      font-family: 'Dela Gothic One', sans-serif;
      & h1 {
        margin: 0;
        font-size: 2rem;
        color: $neutrals100;
      }
    }
  }

  & nav a {
    color: white
  }
}
