<footer id="footer" class="footer">

  <section class="footer__logo">
    <a routerLink="/"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      <h1>Eyder</h1>
    </a>
  </section>

  <app-rede-social></app-rede-social>

<!--  <section id="credencial" class="footer__redesocial">-->
<!--    <a href="https://github.com/eydertinoco" target="_blank">-->
<!--      <img src="assets/svg/github.svg" alt="Github"/>-->
<!--    </a>-->
<!--    <a href="https://www.linkedin.com/in/eyder-tinoco-ferreira-neto-91337a155/" target="_blank">-->
<!--      <img src="assets/svg/linkedin.svg" alt="Linkedin"/>-->
<!--    </a>-->
<!--     <a href="https://web.whatsapp.com/send?phone=5582999221574" target="_blank">-->
<!--       <img src="assets/svg/whatsapp.svg" alt="Whatsapp"/>-->
<!--     </a>-->
<!--  </section>-->

  <section class="footer__copyright">
      <span>Eyder Tinoco Ferreira Neto</span>
      <span>Todos os Direitos Reservados</span>
  </section>

</footer>
