<section class="acessibilidade">
  <span>Acessibilidade</span>

  <section class="acessibilidade__texto">
    <span id="diminuir-fonte">
      <a title="Diminuir Fonte" alt="Diminuir" (click)="setFontSize('a-')">
        A-
      </a>
    </span>
    <span id="aumentar-fonte">
      <a title="Aumentar Fonte" alt="Aumentar" (click)="setFontSize('a+')">
        A+
      </a>
    </span>
  </section>

  <section class="acessibilidade__vlibras">
    <app-vlibras></app-vlibras>
  </section>

</section>
